@import "../../../constants.less";

div.editor-lasting {
  text-align: center;
  display: inline-block;
  background: @panel-default-heading-bg;
  border: solid 1px @panel-default-border;
  min-height: 250px;
  min-width: 250px;
  position: relative;
  left: 80px;
  z-index: 99;
  .border-radius(@border-radius-base, @border-radius-base, @border-radius-base, @border-radius-base);
  .clock {
    cursor:pointer;
  }
  form.digit {
    padding-top: 10px;
    input{
      width: 40px;
      text-align:center;
    }
  }
  button.next {
    position: absolute;
    top: 200px;
    left: 200px;
  }
}
