<span data-ng-bind="EditorLasting.model | lasting:'compact'"></span>
<button type="button"
        data-ng-click="EditorLasting.edit();$event.stopPropagation();"
        class="btn btn-link btn-xs">
    <i class="fa fa-pencil"></i>
</button>
<div data-ng-show="EditorLasting.editing" class="editor-lasting">
  <form class="digit" data-ng-submit="EditorLasting._accept()" name="editorlasting">
    <input data-tooltip="days" type="number" min="0" data-ng-model="EditorLasting.newLasting.days"> :
    <input data-tooltip="hours" type="number" min="0" max="23" data-ng-model="EditorLasting.newLasting.hours"> :
    <input data-tooltip="minutes" type="number" min="0" max="59" data-ng-model="EditorLasting.newLasting.minutes">
    <button type="submit"
            data-ng-click="$event.stopPropagation()"
            class="btn btn-success btn-xs">
      <i class="fa fa-check"></i>
    </button>
    <button type="button"
            data-ng-click="EditorLasting.cancel();$event.stopPropagation()"
            class="btn btn-danger btn-xs">
      <i class="fa fa-times"></i>
    </button>
  </form>
  <svg width="200" height="200" class="clock clockH" data-ng-show="EditorLasting.hours">
    <g transform="translate(100, 100)">
      <circle class="pinH" r="12" cx="0" cy="-63" fill="red" fill-opacity="0.5"></circle>
      <text text-anchor="middle" x="30" y="-52">1</text>
      <text text-anchor="middle" x="52" y="-30">2</text>
      <text text-anchor="middle" x="60" y="0">3</text>
      <text text-anchor="middle" x="52" y="30">4</text>
      <text text-anchor="middle" x="30" y="52">5</text>
      <text text-anchor="middle" x="0" y="60">6</text>
      <text text-anchor="middle" x="-30" y="52">7</text>
      <text text-anchor="middle" x="-52" y="30">8</text>
      <text text-anchor="middle" x="-60" y="0">9</text>
      <text text-anchor="middle" x="-52" y="-30">10</text>
      <text text-anchor="middle" x="-30" y="-52">11</text>
      <text text-anchor="middle" x="0" y="-60">12</text>

      <text text-anchor="middle" x="0" y="-81" style="font-size:0.75em">00</text>
      <text text-anchor="middle" x="40" y="-71" style="font-size:0.75em">13</text>
      <text text-anchor="middle" x="69" y="-41" style="font-size:0.75em">14</text>
      <text text-anchor="middle" x="80" y="-1" style="font-size:0.75em">15</text>
      <text text-anchor="middle" x="69" y="39" style="font-size:0.75em">16</text>
      <text text-anchor="middle" x="40" y="68" style="font-size:0.75em">17</text>
      <text text-anchor="middle" x="0" y="79" style="font-size:0.75em">18</text>
      <text text-anchor="middle" x="-40" y="68" style="font-size:0.75em">19</text>
      <text text-anchor="middle" x="-69" y="39" style="font-size:0.75em">20</text>
      <text text-anchor="middle" x="-80" y="-1" style="font-size:0.75em">21</text>
      <text text-anchor="middle" x="-69" y="-41" style="font-size:0.75em">22</text>
      <text text-anchor="middle" x="-40" y="-70" style="font-size:0.75em">23</text>
      <line class="pinH" x1="0" y1="-3" x2="0" y2="-51" stroke="red" stroke-width="2" stroke-opacity=0.5></line>
      <rect x="-100" y="-100" width="200" height="200" fill-opacity="0">
    </g>
  </svg>
  <svg width="200" height="200" class="clock clockM" data-ng-hide="EditorLasting.hours">
    <g transform="translate(100, 100)">
      <text text-anchor="middle" x="30" y="-52">5</text>
      <text text-anchor="middle" x="52" y="-30">10</text>
      <text text-anchor="middle" x="60" y="0">15</text>
      <text text-anchor="middle" x="52" y="30">20</text>
      <text text-anchor="middle" x="30" y="52">25</text>
      <text text-anchor="middle" x="0" y="60">30</text>
      <text text-anchor="middle" x="-30" y="52">35</text>
      <text text-anchor="middle" x="-52" y="30">40</text>
      <text text-anchor="middle" x="-60" y="0">45</text>
      <text text-anchor="middle" x="-52" y="-30">50</text>
      <text text-anchor="middle" x="-30" y="-52">55</text>
      <text text-anchor="middle" x="0" y="-60">0</text>
      <line class="pinM" x1="0" y1="-3" x2="0" y2="-51" stroke="red" stroke-width="2" stroke-opacity=0.5></line>
      <rect x="-100" y="-100" width="200" height="200" fill-opacity="0">
    </g>
  </svg>
  <button type="button"
          data-ng-click="EditorLasting.hours = !EditorLasting.hours"
          class="btn btn-primary btn-xs next">
    <i class="fa fa-arrow-right"></i>
  </button>
</div>
