<div class="login">
  <a href="{{Login.loginUrl()}}"
     class="login"
     data-ng-hide="Login.isConnected() || !Login.loginUrl()"
     data-translate="login"></a>
  <button class="btn btn-link login"
          data-ng-click="Login.login()"
          data-ng-hide="Login.isConnected() || Login.loginUrl"
          data-translate="login"></button>
  <button class="btn btn-link login"
          data-ng-click="Login.logout()"
          data-ng-show="Login.isConnected()"
          data-translate="logout"></button>
</div>
