<div class="container-fluid recipe-edit">
  <header>
    <h1>
      <i class="beer-icon beer-beer-glass"></i>
      <span data-translate="recipe_list_title"></span>
      <span data-ng-show="RecipeList.recipeCount !== null">({{RecipeList.recipeCount}})</span>
    </h1>
  </header>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <ul>
        <spinner data-ng-show="RecipeList.isLoading"></spinner>
        <li data-ng-repeat="line in RecipeList.recipeList track by line.id">
          <a data-ui-sref="recipe-edit({id:line.id})" data-ng-bind="line.name"></a>
          <button class="btn btn-link btn-sm"
                  data-ng-hide="line.removing"
                  data-ng-click="RecipeList.remove(line)">
            <i class="fa fa-trash-o"></i>
          </button>
          <spinner data-ng-show="line.removing"></spinner>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <button class="btn btn-primary btn-sm"
              type="button"
              data-ng-disabled="RecipeList.adding"
              data-ng-click="RecipeList.add()">
        <i class="fa fa-plus"></i>
        <span data-translate="recipe_list_add"></span>
        <spinner data-ng-show="RecipeList.adding"></spinner>
      </button>
      <button class="btn btn-primary btn-sm"
              type="button"
              data-ng-hide="RecipeList.importPanel"
              data-ng-disabled="RecipeList.importing"
              data-ng-click="RecipeList.importPanel = true">
        <i class="fa fa-upload"></i>
        <span data-translate="recipe_list_import"></span>
      </button>
      <div data-ng-show="RecipeList.importPanel" class="import row">
        <div class="col-md-12 col-xs-12">
          <div class="form-group">
            <label for="import" data-translate="recipe_list_import_label"></label>
            <textarea id="import" data-ng-model="RecipeList.importData" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 action-buttons">
          <button class="btn btn-primary btn-sm"
                  type="button"
                  data-ng-disabled="RecipeList.importing"
                  data-ng-click="RecipeList.import()">
            <i class="fa fa-upload"></i>
            <span data-translate="recipe_list_import"></span>
            <spinner data-ng-show="RecipeList.importing"></spinner>
          </button>
          <button class="btn btn-warning btn-sm"
                  type="button"
                  data-ng-disabled="RecipeList.importing"
                  data-ng-click="RecipeList.importPanel = false">
            <span data-translate="cancel"></span>
            <spinner data-ng-show="RecipeList.importing"></spinner>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
