<div data-ng-controller="RecipeEditStepCtrl as RecipeEditStep">
  <div class="pull-right">
    <button type="button"
            data-ng-hide="RecipeEdit.recipe.steps.indexOf(RecipeEditStep.step) === 0"
            data-uib-tooltip=" {{:: 'recipe_edit_step_move_up_tooltip' | translate }}"
            class="btn btn-link btn-xs"
            ng-click="RecipeEditStep.moveUp(RecipeEdit.recipe.steps, RecipeEditStep.step)">
      <i class="fa fa-arrow-up"></i>
    </button>
    <button type="button"
            data-ng-hide="RecipeEdit.recipe.steps.indexOf(RecipeEditStep.step) === RecipeEdit.recipe.steps.length - 1"
            data-uib-tooltip=" {{:: 'recipe_edit_step_move_down_tooltip' | translate }}"
            class="btn btn-link btn-xs"
            ng-click="RecipeEditStep.moveDown(RecipeEdit.recipe.steps, RecipeEditStep.step)">
      <i class="fa fa-arrow-down"></i>
    </button>
    <button type="button"
            data-uib-tooltip=" {{:: 'recipe_edit_step_remove_tooltip' | translate:{name:RecipeEditStep.step.name} }}"
            class="btn btn-link btn-xs"
            ng-really-title="{{:: 'common_dialog_confirmation' | translate }}"
            ng-really-message="{{ 'recipe_edit_step_remove_confirm' |translate:{name:RecipeEditStep.step.name } }}"
            ng-really-click="RecipeEditStep.remove(RecipeEdit.recipe.steps, RecipeEditStep.step)">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
  <div>
      <label data-translate="recipe_edit_name"></label>
      <editor-string  data-model="RecipeEditStep.step.name"></editor-string>
  </div>
  <div>
      <label data-translate="recipe_edit_lasting"></label>
      <editor-lasting  data-model="RecipeEditStep.step.lasting"></editor-lasting>
  </div>
  <div>
      <label data-translate="recipe_edit_temperature"></label>
      <editor-quantity data-model="RecipeEditStep.step.temperature"></editor-quantity>
  </div>
  <div>
      <label data-translate="recipe_edit_ingredients"></label>
      <ul class="ingredient-list">
          <li data-ng-repeat="ingredient in RecipeEditStep.step.ingredients track by ingredient._uuid">
            <i class="{{RecipeEditStep.icons[ingredient.type].icon}}"></i>
            <editor-quantity data-model="ingredient.qty"></editor-quantity>
            <editor-aroma data-ng-if="ingredient.type==='aroma'"
                          data-model="ingredient"></editor-aroma>
            <editor-fermentable data-ng-if="ingredient.type==='fermentable'"
                          data-model="ingredient"></editor-fermentable>
            <editor-hops data-ng-if="ingredient.type==='hop'"
                          data-model="ingredient"></editor-hops>
            <editor-misc data-ng-if="ingredient.type==='misc'"
                          data-model="ingredient"></editor-misc>
            <editor-water data-ng-if="ingredient.type==='water'"
                          data-model="ingredient"></editor-water>
            <editor-yeast data-ng-if="ingredient.type==='yeast'"
                          data-model="ingredient"></editor-yeast>
            <button type="button"
                    data-uib-tooltip=" {{:: 'recipe_edit_ingredient_remove_tooltip' | translate:{name:ingredient.name} }}"
                    class="btn btn-link btn-xs"
                    ng-really-title="{{:: 'common_dialog_confirmation' | translate }}"
                    ng-really-message="{{ 'recipe_edit_ingredient_remove_confirm' |translate:{name:ingredient.name } }}"
                    ng-really-click="RecipeEditStep.removeIngredient(RecipeEditStep.step.ingredients, ingredient)">
              <i class="fa fa-trash-o"></i>
            </button>
          </li>
          <li>
            <button class="btn btl-link btn-xs"
                    data-uib-tooltip="{{:: 'recipe_edit_ingredient_add_tooltip' |translate }}"
                    data-ng-click="RecipeEditStep.addIngredient(RecipeEditStep.step);">
              <i class="fa fa-plus"></i>
            </button>
          </li>
      </ul>
  </div>
</div>
