<div class="container-fluid">
    <header>
        <h1>
            <span data-translate="recipe_edit_title"></span> - 
            <span>{{RecipeEdit.recipe.name | stringLimit:30:'middle'}}</span>
        </h1>
    </header>
	<div class="row">
		<div class="col-md-12">
            <uib-accordion class="recipe-edit">
                <uib-accordion-group data-ng-repeat="step in RecipeEdit.recipe.steps">
                    <uib-accordion-heading>
                        <span>{{$index}}</span> :
                        <span>{{step.name}}</span>
                    </uib-accordion-heading>
                    <div>
                        <label data-translate="recipe_edit_lasting"></label>
                        <span>{{step.lasting}}</span>
                    </div>
                    <div>
                        <label data-translate="recipe_edit_temperature"></label>
                        <span>{{step.temperature}}</span>
                    </div>
                    <div>
                        <label data-translate="recipe_edit_ingredients"></label>
                        <ul class="ingredient-list">
                            <li data-ng-repeat="ingredient in step.ingredients">{{ingredient.name}}</li>
                        </ul>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
	</div>
</div>
