<div class="container-fluid recipe-edit">
  <header>
    <h1>
      <i class="beer-icon beer-beer-glass"></i>
      <span data-translate="recipe_edit_title"></span> -
      <span>{{RecipeEdit.recipe.name | stringLimit:30:'middle'}}</span>
      <a data-ui-sref="recipe-print({id:RecipeEdit.recipe.id})" class="btn">
        <i class="fa fa-print"></i>
      </a>
      <a data-ui-sref="recipe-list()" class="btn">
        <i class="fa fa-list"></i>
      </a>
    </h1>
  </header>
  <div class="row" data-ng-hide="RecipeEdit.recipe">
    <spinner></spinner>
  </div>
  <div class="row" data-ng-show="RecipeEdit.recipe">
    <div class="col-md-6 col-xs-12">
      <section>
        <h2 data-translate="recipe_edit_steps"></h2>
        <uib-accordion>
          <div data-ui-sortable="RecipeEdit.sortableOptions" data-ng-model="RecipeEdit.recipe.steps">
            <uib-accordion-group data-is-open="step._isOpen" data-ng-repeat="step in RecipeEdit.recipe.steps track by step._uuid">
              <uib-accordion-heading>
                <div class="sortableHandle">
                  <span>{{$index}}</span> :
                  <span data-ng-bind="step.name"></span>
                  <span>
                    <span class="step-summary">
                      <span data-ng-bind="step.lasting | lasting:'compact'"></span>
                      <i class="fa fa-clock-o"></i> -
                      <span data-ng-bind="step.temperature.value"></span>
                      <i class="beer-icon beer-thermometer"></i>
                    </span>
                  </span>
                </div>
              </uib-accordion-heading>
              <div data-ng-include="'app/components/recipe/edit/step/recipe-edit-step.view.html'"></div>
            </uib-accordion-group>
          </div>
        </uib-accordion>
        <button class="btn btl-link btn-xs pull-right"
                data-uib-tooltip="{{:: 'recipe_edit_step_add_tooltip' |translate }}"
                data-ng-click="RecipeEdit.addStep(RecipeEdit.recipe.steps);">
          <i class="fa fa-plus"></i>
        </button>
      </section>
    </div>
    <div class="col-md-6 col-xs-12">
      <section>
        <h2 data-translate="recipe_edit_general"></h2>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_name">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <editor-string data-model="RecipeEdit.recipe.name"></editor-string>
          </div>
        </div>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_brewer">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <editor-string data-model="RecipeEdit.recipe.author"></editor-string>
          </div>
        </div>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_date">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <editor-date data-model="RecipeEdit.recipe.date" data-format="dd/MM/yyyy"></editor-date>
          </div>
        </div>
      </section>
      <section>
        <h2 data-translate="recipe_edit_characteristics"></h2>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_mashing_volume">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <span>{{ RecipeEdit.recipe.mashingVolume() | number:1 }}</span> L
          </div>
        </div>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_rincing_volume">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <span>{{ RecipeEdit.recipe.rincingVolume() | number:1 }}</span> L
          </div>
        </div>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_final_volume">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <span>{{ RecipeEdit.recipe.remainingLiquid() | number:1 }}</span> L
          </div>
        </div>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_initial_gravity">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <span>{{ RecipeEdit.recipe.gravity() | number:3 }}</span>
          </div>
        </div>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_ibu">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <span>{{ RecipeEdit.recipe.ibuEstimation() | number:1}}</span>
          </div>
        </div>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_alcohol">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <span>{{ (RecipeEdit.recipe.getAlcohol() * 100) | number:1}}</span> %Vol
          </div>
        </div>
        <div class="row beer-form">
          <div class="col-md-6 col-xs-12 title" data-translate="recipe_color">
          </div>
          <div class="col-md-6 col-xs-12 value">
            <span>{{ RecipeEdit.recipe.estimateColor().srm | number:1}}</span>
            <span class="color-sample" style="background-color:{{RecipeEdit.recipe.estimateColor().rgb}}"></span>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
