// bower:less
@import "../../bower_components/font-awesome/less/font-awesome.less";
@import "../../bower_components/bootstrap/less/bootstrap.less";
// endbower

@import "constants.less";

body {
    background-color: @application-bg;
    
    h1 {
        margin-bottom: 50px;
        font-family: sans-serif;
        font-weight: bold;
        &:before {
            content: "\f219";
            font: normal normal normal 32px FontAwesome;
            color: blue;
        }
    }
}
