<span data-ng-hide="EditorAroma.editing">
  <span data-ng-bind="EditorAroma.model.name"></span>
  <button type="button"
          data-ng-click="EditorAroma.edit();$event.stopPropagation();"
          class="btn btn-link btn-xs">
    <i class="fa fa-pencil"></i>
  </button>
</span>
<span data-ng-show="EditorAroma.editing">
  <form class="editor-aroma" data-ng-submit="EditorAroma._accept()" name="editoraroma">
    <input name="name"
           class="name"
           data-tooltip="{{:: 'name' | translate}}"
           type="string"
           data-ng-model="editoraroma.editingModel.name">
    <button type="submit"
            data-ng-disabled="!EditorAroma.$valid"
            data-ng-click="$event.stopPropagation()"
            class="btn btn-success btn-xs">
      <i class="fa fa-check"></i>
    </button>
    <button type="button"
            data-ng-click="EditorAroma.cancel();$event.stopPropagation()"
            class="btn btn-danger btn-xs">
      <i class="fa fa-times"></i>
    </button>
  </form>
</span>
